<h1>Boards</h1>
{% if user.is_authenticated %}
  <h2>You name is: {{ user.username }}</h2>

  {% for list, cards in dictionary.items %}
    <h2>{{ list }}</h2>
    {% for card in cards %}
      <p>{{ card }}</p>
    {% endfor %}
  {% endfor %}

<form action = "" method = "POST">
    {% csrf_token %}
    <p>{{ form }}</p>
    <input type="submit" value="OK">
</form>

{% else %}
  <h2>You are not logged in </h2>
{% endif %}

<nav>
  <a href="/users/login" class="button">Log in</a>
  <a href="/users/register" class="button">Registration</a>
</nav>
