{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<nav>
    <a href="/users/login" class="button">Log in</a>
    <a href="/users/register" class="button">Registration</a>
</nav>

<h1>Boards</h1>
{% if user.is_authenticated %}
    <h2>You name is: {{ user.username }}</h2>
{% else %}
    <h2>You are not logged in </h2>
{% endif %}

<div class="board">
    {% for list, cards in dictionary.items %}
    <div class="list">
        <h2 id="list_{{ list.id }}">{{ list.name }}</h2>
        {% for card in cards %}
            <div class="card">
                <p>{{ card }}</p>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<span class="clear"></span>    <!--clearing float left-->

<div class="forms">
  <form action="" method="POST" id="add-list">
      {% csrf_token %}
      <h3>Add new list:</h3>
      <p>{{ form.form_list }}</p>
      <input type="submit" value="Add List" name="add-list">
  </form>

  <form action = "" method="POST" id="add-card">
      {% csrf_token %}
      <h3>Add new card:</h3>
      <p>{{ form.form_card }}</p>
      <input type="submit" value="Add Card" name="add-card">
  </form>
</div>

<div class="change-list-name" id="change-list-name">
  <form action = "" method = "POST" name="change-list-name" id="change-list-name" >
      {% csrf_token %}
      <h3>Change list name:</h3>
      <p id="change">{{ form.form_change_list_name }}</p>
      <input type="submit" value="Change list name" name="change-list-name">
  </form>

</div>


{% block javascript %}
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock javascript %}
